{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 44.680242050000004,
    "longitude": 20.381755966161457,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Belgrade",
    "external_url": null,
    "internal_url": null,
    "currency": "RSD",
    "country": "RS",
    "language": "en-GB"
  }
}